@import 'partials/reset'; // include reset
@import 'partials/fonts'; //include fonts
@import 'partials/vars';  //include variables, mixin`s, etc.

// Variables

body {
  font-family: "Source Sans Pro", sans-serif, serif;
  font-size: 18px;
  margin: 0 auto;

  button:active, button:focus {
    outline: none;
  }
  button::-moz-focus-inner {
    border: 0;
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1200px;
    }
  }
}

@import 'partials/visit';
@import 'partials/header';
@import 'partials/features';
@import 'partials/details';
@import 'partials/customize';
@import 'partials/quality';
@import 'partials/like';
@import 'partials/pricings';
@import 'partials/contact';
@import 'partials/footer';
