.footer {
  background-color: #15141a;

  &__icons {
    svg{
      width: 18px;
      height: 18px;
    }
  }

  &__copyright {

    &_item {
    }
  }
}
.container {
}
.row {
}
.justify-content-center {
}
.col-xl {
}
