.header {
	.row {
		height: 99px;
	}

	&__nav{
		margin-bottom: 2px;
	}
	&__logo {
		display: flex;
		padding-left: 2px;

		&_sub {
			padding-left: 7px;
			height: 16px;
			width: 51px;
			align-self: flex-end;
		}
	}

	.header__list {
		display: inline-flex;
		flex-direction: row;
		
		
		li{
			margin-left: 23px;
		}

		.header__nav__items {
			color: #fffefe;
			font-family: "Source Sans Pro";
			font-size: 16px;
			font-weight: 600;
			line-height: 41px;
			position: relative;
			text-decoration: none;

			&:hover:after{
				content: '';
				display: block;
				background-image: url('../img/hover_line.png');
				background-size: cover;
				width: 42px;
				height: 2px;
				position: absolute;
				text-decoration: none;
				margin: auto;
				top: 40px;
				left: 0;
				right: 0;
				bottom: 0;
			}
		}
	}
}