.quality {
  scroll-behavior: smooth;

  height: 640px;
  background: url('../img/quality_bg.png') center no-repeat;
  background-size: cover;
  position: relative;

  &__name {
    margin-top: 62px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__uptitle {
    color: $blue_color;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
  }

  &__title {
    color: #ffffff;
    margin-top: 16px;
    font-size: 36px;
    font-weight: 600;
    position: relative;


    &::after {
      content: '';
      display: block;
      background-image: url('../img/hover_line.png');
      background-size: cover;
      width: 42px;
      height: 2px;
      position: absolute;
      text-decoration: none;
      margin: auto;
      top: 100px;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.slider {
  display: flex;
  margin-top: 120px;

  &__block {
    padding-left: 0px;
    color: #ffffff;
    display: inline-flex;
    flex-direction: column;

    &_feedback {
      display: inline-flex;
      width: 549px;
      font-style: italic;
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;

    }

    &_description {
      margin-top: 23px;

      display: inline-flex;
      align-items: center;
    }

    &_author {
      height: 45px;
      margin-left: 24px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &_author-name {
      font-weight: 400;
      font-size: 16px;
    }

    &_author-position {
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      padding-bottom: 3px;
    }
  }
}

.first_block {
  .slider__block_feedback{
    margin-left: -1px;
  }
}

.second_block {
  .slider__block_feedback{
    margin-left: 14px;
  }
  .slider__block_description{
    margin-left: 15px;
  }

  &_author {
    margin-left: 24px;
  }
}

/* Slick slider block */
.slider {
  .slick-track {
    min-width: 0;
    display: flex;

  }
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 119px auto;

  li {
    list-style: none;
    margin: 10px;
  }

  button {
    font-size: 0;
    background-color: rgba($color: #000000, $alpha: 0);
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 7px;
    height: 7px;
    padding: 0.1px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    outline: none;
  }
}

.slick-active {
  button {
    width: 14px;
    height: 14px;
    background-color: #ffffff;
  }
}
