@import 'partials/reset'; // include
@import 'partials/fonts'; //include fonts

// Variables

body {
  font-family: "Source Sans Pro", sans-serif, serif;
  font-size: 18px;
  margin: 0 auto;

  h1 {
    font-family: "Quicksand";
    font-weight: 700;
    font-size: 50px;
  }
}