.hide {
  display: none;
}

@media all and (max-width: 1082px) {
  .hide {
    display: block;
  }

  .development__block {}
}

@media all and (max-width: 946px) {
  .hide {}

  .development__block__title {
    width: fit-content;
  }
}

@media all and (max-width: 888px) {}


@media all and (max-width: 1159px) {
  .achievements {
    width: 100%;
    background-color: #3199dc;

    &__inner {
      min-height: 310px;
      max-width: 1220px;
      padding: 0 15px;
      margin: 0 auto;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    &__block {
      width: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #ffffff;

      &:first-child {}

      &:last-child {}

      img {
        height: 57px;
        width: 80px;
        margin-bottom: 20px;

      }

      span {
        font-size: 28px;
        margin-bottom: 12px;
      }

      p {
        font-size: 14px;
        letter-spacing: 0.7px;
      }
    }
  }
}

@media all and (max-width: 1128px) {
  .mentors__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

  }

  .mentors__photo {
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 19px;
    align-self: center;
  }

  .mentors__dialog {
    margin: 0 auto;
  }

  .mentors__name {
    text-align: center;
  }
}


@media all and (max-width: 980px) {
  .feedback {
    width: 100%;

    &__inner {
      min-width: 0;

      margin-bottom: 40px;
      text-align: center;

      h2 {
        font-size: 33px;
        letter-spacing: 0.5px;

        margin-top: 66px;
        margin-bottom: 15px;
      }
    }

    &__text {
      margin-top: 10px;
      position: relative;
      font-size: 21px;
      color: $text_color;
      font-weight: 300;

      max-width: 920px;


      text-align: center;
      line-height: 36px;
      letter-spacing: 0.5px;


      &::before {
        content: "\f10d";
        display: inline-block;
        font-family: 'Awesome';
        font-size: 24px;
        color: #c4c4c4;

        position: absolute;
        top: -11%;
        left: 1%;
      }

      &::after {
        content: "\f10e";
        display: block;
        font-size: 24px;
        font-family: 'Awesome';
        color: #c4c4c4;

        position: absolute;
        bottom: -6%;
        right: 2%;
      }
    }
  }
}


@media all and (max-width: 850px) {
  .slider-top {

    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .slick-track {
    display: flex;
    justify-content: center;
    align-items: flex-start;

  }

  .header {
    height: 70px;

    &__logo {
      width: 60px;
      height: 60px;
    }
  }



  .development__block {}

  .header__menu {
    display: none;
  }

  .header__inner {
    justify-content: space-between;
  }

  .burger {
    display: none;
    justify-content: center;
    align-items: center;
  }

  .burger-wrapper {
    display: flex;
  }


  .contacts {
    height: 267px;

    &__inner {

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      max-width: 1060px;
      width: 100%;
      background-color: #3199dc;
    }

    &__block {
      margin-top: 2px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 150px;

      color: #ffffff;
    }
  }

  .contacts-logo {
    width: 40px;
    height: 40px;
  }


  .name {
    margin-top: 10px;

    font-size: 14px;
    font-weight: 800;
  }

  .sub {
    margin-top: 3px;
    font-size: 12px;

    color: #ffffff;

    a {
      text-decoration: none;
      color: #ffffff;
    }
  }

  .first {
    margin-top: 0;
    padding-bottom: 15px;
  }
}

@media all and (max-width: 830px) {}


@media all and (max-width: 654px) {
  .section__form__inner {
    display: block;
  }

  .section__form__left_block {
    width: 100%;
    padding-top: 20px;

    h1 {
      font-size: 22px;
    }

    p {
      max-width: 270px;
      font-size: 15px;
    }
  }

  .section__form__right_block {
    width: 100%;
  }


}



@media all and (max-width: 440px) {
  .header {
    height: 70px;

    &__logo {
      width: 60px;
      height: 60px;
    }
  }

  .section__form__left_block {
    padding-top: 0px;

    h1 {
      font-size: 24px;
      letter-spacing: 0.5px;

      font-weight: 400;

      margin-bottom: 14px;
    }

    p {
      font-size: 14px;
      line-height: 25px;
      max-width: 286px;
    }
  }

  .section__form__right_block {
    padding-top: 51px;
    padding-bottom: 27px;

    .register {
      margin-left: 0;

      font-size: 22px;
      letter-spacing: 0.5px;
      margin-bottom: 14px;
    }

    .form {
      margin-left: 0;

      .form-label {
        margin-top: 8px;

        &:first-child {
          margin: 0;
          margin-bottom: 5px;
        }

        &:last-child {
          margin: 0 0 0 3px;
        }
      }

      .form-input {
        height: 41px;
        padding: 0 11px;
      }


      .form-button-action {
        margin-top: 33px;
        padding: 18px 51px;

        letter-spacing: 0.1px;
        font-size: 13px;
      }

      #email {
        margin-bottom: 10px;
      }
    }

    .confidence {
      margin-top: 0;
      height: 41px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  .development {
    &__inner {
      padding-bottom: 67px;

      justify-content: flex-end;

      .title {
        font-size: 23px;
      }

      .slider-top {

        .development__block {
          min-width: 200px;

          img {
            margin-bottom: 15px;
          }

          &_title {
            padding: 0 35px;
            font-size: 19px;
            margin-bottom: 17px;
            padding-bottom: 2px;
          }

          p {
            width: 256px;
            font-size: 13px;
            letter-spacing: 0.1px;
            line-height: 23px;
          }
        }
      }
    }
  }

  .achievements {
    padding-bottom: 30px;

    &__inner {
      flex-wrap: wrap;
      align-items: center;
    }

    &__block {
      width: 145px;
      height: fit-content;

      text-align: center;

      &:first-child {}

      &:last-child {}

      img {
        margin-bottom: 7px;

      }

      span {
        font-size: 17px;
        margin-bottom: 0px;
        letter-spacing: 0;


      }

      p {
        font-size: 12px;
        letter-spacing: 0;
      }
    }
  }

  .feedback {

    &__inner {
      h2 {


        font-size: 24px;
        width: 300px;
        letter-spacing: 0px;
        margin: 0 auto;
        margin-top: 31px;
        margin-bottom: 10px;
      }

      margin-bottom: 29px;
    }

    &__text {
      margin-top: 0px;
      width: 249px;
      font-size: 13px;
      line-height: 21px;

      &::before {
        font-size: 15px;
        top: 1%;
        left: -8%;
      }

      &::after {
        font-size: 15px;
        bottom: 4%;
        right: -9%;
      }
    }
  }

  .slider {


    &__first {}

    .person {
      padding-left: 6px;
      margin-top: 5px;


      .name {
        font-size: 15px;
      }

      .position {
        font-size: 13px;
      }
    }

    .slick-dots {
      margin-top: 94px;

      li {}

      .slick-active {
        button {}
      }

      button {}
    }
  }

  .slick-track {}

  .text_slider {}


  .video {

    &__inner {}

    &__text {

      h2 {
        font-size: 22px;

      }

      .lorem {
        font-size: 15px;
        width: 290px;
        line-height: 22px;
      }
    }

    &__youtube {
      padding: 0 16px;
      width: 100%;
      margin-top: 29px;
    }
  }

  .youtube {
    width: 100%;
    height: 188px;
  }

  /* MENOTRS */

  .mentors {
    width: 100%;
    padding-bottom: 29px;

    &__inner {
      max-width: 1250px;
      padding: 0 15px;
      margin: 0 auto;
    }

    .slider-bottom {
      margin-top: 8px;
      margin-left: 0;
      overflow: hidden;

    }

    &__title {
      font-size: 23px;
      text-align: center;
      margin-top: 31px;
      letter-spacing: 0.5px;
    }

    &__photo {
      width: 145px;
      height: 145px;
      object-fit: cover;
      margin-bottom: 19px;
      align-self: center;
    }

    &__name {
      font-size: 17px;
      font-weight: 800;

      color: #3199dc;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
      padding-bottom: 16px;
      letter-spacing: 0.4px;
      padding: 0 119px;
    }

    &__dialog {
      max-width: 297px;
      margin-bottom: 4px;
      align-self: center;


      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      font-size: 13px;
      line-height: 22px;
      letter-spacing: 0.2px;

      color: $text_color;
      text-align: center;
    }

    &__text {
      &_one {
        margin-top: 22px;
        width: 270px;
      }

      &_other {
        margin-top: 10px;
        width: 295px;

      }
    }
  }

  .slick-track {
    min-width: 0;

  }

  .mentors__slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;

  }

  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 2px auto;
    padding-right: 0;

    li {
      list-style: none;
      margin: 0 7px;
    }

    button {
      font-size: 0;
      background-color: #b4b5b5;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border: none;
    }
  }

  .slick-active {
    button {
      background-color: #666666;
    }
  }

  .oneone {
    width: 270px;
  }

  .onetwo {
    margin-top: 11px;
    width: 289px;
  }

  /* CONTACTS */


  .contacts {
    height: 267px;

    &__inner {

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      max-width: 1060px;
      width: 100%;
      background-color: #3199dc;
    }

    &__block {
      margin-top: 2px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 150px;

      color: #ffffff;
    }
  }

  .contacts-logo {
    width: 40px;
    height: 40px;
  }


  .name {
    margin-top: 10px;

    font-size: 14px;
    font-weight: 800;
  }

  .sub {
    margin-top: 3px;
    font-size: 12px;

    color: #ffffff;

    a {
      text-decoration: none;
      color: #ffffff;
    }
  }

  .first {
    margin-top: 0;
    padding-bottom: 15px;
  }
}