.footer {
  height: 156px;

  background-color: $bg_grey;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__copyright {
    color: #709eca;
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: 300;
  }

  &__confidence {
    margin-top: 14px;

    a {
      text-decoration: none;
      font-size: 13px;
      letter-spacing: 0.2px;
      color: #98948b;
    }
  }
}