.map__google {
  width: 100%;
}

.contacts {
  height: 196px;
  background-color: #3199dc;

  display: flex;
  justify-content: center;
  align-items: center;

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    max-width: 1060px;
    width: 100%;
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 180px;

    color: #ffffff;
  }
}

.contacts-logo {
  width: 50px;
  height: 50px;
}


.name {
  margin-top: 10px;

  font-size: 16px;
  font-weight: 800;
}

.sub {
  margin-top: 3px;
  font-size: 15px;
  color: #ffffff;
  &:hover {
    text-decoration: underline;
  }

  a {
    text-decoration: none;
    color: #ffffff;
  }
}