.mentors {
  min-width: 1250px;
  margin-bottom: 62px;


  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;


  &__inner {
    
    margin-top: 32px;
    margin-left: 75px;
    overflow: hidden;

    
  }

  &__title {
    font-size: 33px;
    text-align: center;
    margin-top: 66px;

    letter-spacing: 0.5px;
  }

  &__photo {
    width: 340px;
    height: 327px;
    object-fit: cover;

    margin-right: 103px;

  }

  &__name {
    font-size: 19px;
    font-weight: 800;

    color: #3199dc;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    padding-bottom: 16px;
    letter-spacing: 0.8px;

  }

  &__dialog {
    width: 710px;

    margin-bottom: 4px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 25px;
    letter-spacing: 0.1px;

    color: $text_color;

  }

  &__text {


    &_one {
      margin-top: 32px;
    }

    &_other {
      margin-top: 10px;
    }
  }
}


.slick-track {
  display: flex;
}

.slide {
  width: 1250px;
  display: flex;
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  padding-right: 180px;


  li {
    list-style: none;
    margin: 0 7px;
  }

  button {
    font-size: 0;
    background-color: #b4b5b5;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: none;
  }
}

.slick-active {
  button {
    background-color: #666666;
  }
}